php-fpm:
  version: 56
  extensions:
    - pecl-redis
    - pecl-xdebug
    - gd
    - mysqlnd
    - xml
    - imap
    - mbstring
    - opcache
    - ldap
    - bcmath
    - mcrypt
    - soap
    - tidy

mysql:
  version: 56

nodejs:
   version: 10

docker:
  version : ""
  docker-compose:
    version : ""
  mysql_version : "56"
  php_version : "5.6"

drush:
  version: "8.1.15"

git:
  username : ""
  mail : ""
  
ssh-keys:
  present:
    - gervasek
    - gboddin
    - Tiago-FM
    - anthosz
    - rvanhoudt
    - secobau
  absent:
    - vojenfr
    - ivan-davidkov

frp:
  version: frp_version
  host: frps_host
  port: frps_port
  token: frps_token
