php-fpm:
  version-default :
    - 56
  extensions-common:
    - pecl-redis4
    - gd
    - mysqlnd
    - xml
    - imap
    - mbstring
    - opcache
    - ldap
    - bcmath
    - soap
    - tidy
  extensions-inf-71:
    - mcrypt
  extensions-sup-71:
    - pecl-mcrypt

mysql:
  version: 56

nodejs:
   version: 10

docker:
  version : ""
  docker-compose:
    version : ""
  mysql_version : "5.6"
  php_version : "5.6"

drush:
  version-default: "8.1.15"

git:
  username : ""
  mail : ""
  
ssh-keys:
  present:
    - gervasek
    - gboddin
    - Tiago-FM
    - anthosz
    - rvanhoudt
    - secobau
  absent:
    - vojenfr
    - ivan-davidkov

frp:
  version: 0.21.0
  host: frps_host
  port: frps_port
  token: frps_token
  
webtools:
  mysql_version: "5.7"
  elasticsearch_version: "7.1.1"
